{{#foreach navigation}}
    <li class="navigation__item"><a href="{{url absolute="true"}}" title="{{label}} | {{@blog.title}}" class="blog-button">{{label}}</a></li>
    <!-- <li class="site-nav-item"><a class="js-ajax-link" title="{{label}} | {{@blog.title}}" href="{{url absolute="true"}}">{{label}}</a></li> -->
{{/foreach}}
